
    <div class="container">
        <h2>Đăng nhập</h2>
        <form action="/login-user" method="POST">
            <div class="form-group">
                <label for="account">Tên tài khoản:</label>
                <input type="text" class="form-control" id="account" placeholder="Nhập tên tài khoản" name="account">
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </form>
    </div>
