<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  
 
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Đăng ký người dùng mới</h1>
    <form action="/add-user" method="POST">
      <div class="form-group">
        <label for="hoten">Họ và tên:</label>
        <input type="text" class="form-control" id="hoten" name="hoten" required>
      </div>
      <div class="form-group">
        <label for="account">Tên tài khoản:</label>
        <input type="text" class="form-control" id="account" name="account" required>
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="form-group">
 
        <label for="male">Nam</label>
        <input type="checkbox" id="male" name="gender" value="1">
    
        <label for="female">Nữ</label>
        <input type="checkbox" id="female" name="gender" value="2">
      
      
      </div>     
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="address">Địa chỉ:</label>
        <input type="text" class="form-control" id="address" name="address" required>
      </div>
      <div class="form-group">
        <label for="groupid">Quyền:</label>
        <input type="text" class="form-control" id="groupid" name="groupid" required>
      </div>
      <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
  </div>