<footer>
    <h2 style="height: 100px; background-color: rgb(13, 142, 165);display: flex; align-items: center;  justify-content: center; "><span style="color: aliceblue;">TQN WEB</span></h2>
  
</footer>